Django==1.11.19
Jinja2==2.7.3
MarkupSafe==0.23
Unidecode==0.04.16
Unipath==1.0
argparse==1.2.1
django-bower==5.0.1
django-nvd3==0.7.6
python-nvd3==0.13.3
python-slugify==0.0.9
six==1.8.0
wsgiref==0.1.2
